.no-gutters{
    border: 1px solid orange;
    background:white;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin: 0.25em auto;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

h5{
    color: #229acd;
}
p{
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
}
.detailItem{
    margin: 0.50em auto;
}