.imgCart img{
        height: 70px;
        width: 70px;
        border-Bottom:5px solid orange;
}

.imgCart img:hover{
    height: 70px;
    width: 70px;
    border-Bottom:5px solid lightgreen;
    cursor:pointer;
}