.imgCart img{
        height: 70px;
        width: 70px;
        border-Bottom:5px solid orange;
        position:absolute;
}

.imgCart img:hover{
    height: 70px;
    width: 70px;
    border-Bottom:5px solid red;
    cursor:pointer;
}

.cartWidgetCount{
    position:relative;
}