.imgCart img{
        height: 70px;
        width: 70px;
        border-Bottom:linear-gradient(to left, #743ad5, #d53a9d);
}

.imgCart img:hover{
    height: 70px;
    width: 70px;
    border-Bottom:5px solid lightgreen;
    cursor:pointer;
}