.titleModal{
    font-family: 'Titillium Web', sans-serif;
}
.success-message{
    color:green;
    font-family: 'Titillium Web', sans-serif;
}
.dateId{
    font-weight: bold;
    color:black;
    font-family: 'Titillium Web', sans-serif;
}