.loading_spinner-wrap {
    width: 100%;
    padding: 50px 0;
  }
  
  .loading_spinner {
    display: block;
    margin: 0 auto;
    fill: #000;
    
    
  }
  
  @keyframes upAndDown {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    25% {
      opacity: 1;
      transform: translateY(-10px);
    }
    75% {
      opacity: 1;
      transform: translateY(-10px);
    }
    100% {
      opacity: 0;
      transform: translateY(0);
    }
  }