.divTest{
border:1px solid lightgrey;
border-radius:10px;
height:auto;
width:80%;
margin: 0 50px 50px 50px;
}
.typeSize{
    font-style: italic;
    font-weight: bold;
    text-shadow: rgba(0,0,0,.5);
    margin-top:15px;
    color: crimson;
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}
.totalItemImg{
    display: flex;
    justify-content: center;
}
.itemGroup{
    margin-top:auto;
}
.totalItemImg img {
    width:80px;
    height:80px;
    border-radius:50px;
}
.form-group{
    text-align:left;
    margin:0.55em auto;
}

.totalItem{
    font-style: italic;
    padding:2px;
    color:black;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin: 10px 0 0 10px;
}

