.divTest{
border:1px solid lightgrey;
border-radius:10px;
height:auto;
width:80%;
margin: 0 50px 50px 50px;
}
.typeSize{
    font-style: italic;
    font-weight: bold;
    margin-top:15px;
    font-size: 1.5em;
    font-family: 'Titillium Web', sans-serif;
}
.totalItemImg{
    display: flex;
}
.totalItemImg img {
    width:80px;
    height:80px;
}

.totalItem{
    font-style: italic;
    padding:2px;
    color:grey;
    text-align: left;
    margin: 10px 0 0 10px;
}