.ListItemContainer{
    text-align:center;
    height:auto;
    margin:auto;
    padding:40px;
}
.info{
    border-radius:5px;
}

p{
    line-height: 5px;
}


@media screen and (max-width: 768px) {
    .ListItemContainer{
        text-align:center;
        height:auto;
        margin:auto;
        justify-content: center;
    }
  }