.Item{
    border:1px solid #dc3545;
    text-align:left;
    height:200px;
}
.containerSection{
    background: white;
    max-height:200px;
    height: 180px;
    margin:0.60em auto;
}

.info{
    line-height: -50px;
}
.info p span{
    font-weight: bold;
    color: #dc3545;
    font-size: 1.1em;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
