.Item{
    background-color: blue;
    text-align:center;
    height:200px;
}
.containerImage{
    background: white;
    max-height:200px;
    height: 180px;
    margin:0.60em auto;
}

.containerDetail{
    background: white;
    max-height:200px;
    height: 180px;
    margin:0.60em auto;
}