.Item{
    background-color: blue;
    text-align:center;
    height:200px;
}
.containerSection{
    background: white;
    max-height:200px;
    height: 180px;
    margin:0.60em auto;
}

.info p span{
    font-weight: bold;
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
