.RowItems {
    border:1px solid rgb(222, 222, 222);
    border-radius:10px;
}
img{
    height:200px;
    cursor:pointer;
}

p .details{
    font-weight: bold;
}

.detailDeport{
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

.detailMarca{
    font-family: 'Titillium Web', sans-serif;
}
.precio{
    line-height: 5px;
}

.sku{
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.4em;

}


