.RowItems {
    border:1px solid rgb(222, 222, 222);
    border-radius:10px;
    cursor:pointer;
    display:block;
}
.RowItems:hover {
    border-width: 1px;
  border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      orange, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}
/*Effect Image */

img{
    height:200px;
    cursor:pointer;
}

p .details{
    text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.detailDeport{
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

.detailMarca{
    font-family: 'Titillium Web', sans-serif;
}
.precio{
    line-height: 5px;
}

.sku{
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.4em;
}

.cost{
    color: #229acd;
    font-size:0.6em;
}


