.NavBar{
  border-bottom:4px solid orange;
  background: url('../../Images/Header1.png') center/cover no-repeat ;
  position: sticky;
}

.Logo-navBar {
  max-height: 8em;
  border:2px solid orange;
  height:80px;
  max-width: 80px;
  border-radius:8px;
}
.navLinks{
  color:black;
  border:1px solid orange;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border-radius:5px;
  margin-right: 5px;;
}
.dropdown{
  background: orange;
  border-radius:5px;
  color:black;
  display:block;
  font-family: 'Titillium Web', sans-serif;
  font-weight:bold;
  transition: 0.5s all ease-in;
  position:fixed;
}

.dropdown:hover{
  color:black;
  font-family: 'Titillium Web', sans-serif;
  font-weight:bold;
  border:1px solid orange;
  background: white;
  transition: 1s all ease-out;
}
@media screen and (max-width: 768px) {
  .NavBar{
    border-bottom:4px solid orange;
    background: white;
    position: sticky;
    text-align:center;
  }
}