.NavBar{
  border-bottom:1px solid orange;
  background: url('../../Images/fondo.png');
  position: sticky;
}

.Logo-navBar {
  max-height: 8em;
  height:80px;
  max-width: 80px;
}
.navLinks{
  color:rgb(22, 20, 20);
  background:white;
  border-radius:5px;
  margin-right: 5px;;
}
.dropdown{
  background: orange;
  border-radius:5px;
  color:white;
  display:block;
  font-family: 'Titillium Web', sans-serif;
  font-weight:bold;
  transition: 0.5s all ease-in;
  position:fixed;
}
.dropdown:hover{
  font-family: 'Titillium Web', sans-serif;
  font-weight:bold;
  border:1px solid orange;
  background: white;
  transition: 1s all ease-out;
}

