.ItemListContainer{
    margin: -35px;
    width:100%;
    text-align:center;
    max-height:100vh;
    margin: 0.25 auto;
    padding: 35px;
}
.rowItemListContainer{
    justify-content:center;
    
}
.counterSearch{
    padding:20px;
}
.ItemListContainer h2{
    justify-content:center;
    text-align:center;
    font-family: "monospace";
    font-weight:bold;
    font-style: italic;
}