.ItemListContainer{
    width:100%;
    text-align:center;
    max-height:100vh;
    margin: 0.25 auto;
    padding: 35px;
}
.rowItemListContainer{
    justify-content:center;
    background: url('../../Images/fondo.png')
}
h2{
    justify-content:center;
    text-align:center;
    font-family: "monospace";
    font-weight:bold;
    font-style: italic;
}