.Item{
    border:1px solid lightgrey;
    border-radius:20px;
    text-align:left;
    height:200px;
}
.containerSection{
    background: white;
    max-height:200px;
    height: 180px;
    margin:0.60em auto;
}
.img img{
height:180px;
}

.info{
    line-height: 15px;
}
.info .infoMain {
    color:#229acd;
    font-size: 1.2em;;
    border:none;
    font-weight: normal;
}
.info .details{
    font-family: 'Titillium Web', sans-serif;
}

.precio h3{
    color: #dc3545;
    line-height:20px;
}
.info p span{
    font-weight: bold;
    color: #dc3545;
    border-bottom:1px solid red;
    font-size: 1.1em;
     font-family: 'Titillium Web', sans-serif;
}

.sku{
    color:grey;
    font-size:0.5em;
    font-family: 'Titillium Web', sans-serif;
}

.cost{
    background: #229acd;
    border:1px solid white;
    color:white;
    border-radius:5px;
    font-size: 1em;
    font-family: 'Titillium Web', sans-serif;
}

.cuotas{
    background: hsl(306, 70%, 54%);
    color:white;
    font-family: 'Titillium Web', sans-serif;
    border-radius:3px;
    margin-top:12px;
    width:50%;
}
.cuotas span{
    background: hsl(274, 70%, 54%);
    border:2px solid white;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
    border-radius:3px;
    margin-top:10px;
    width:50%;
}

.counter{
    margin:4em auto;
}