.panlIzq{
    display:flex;
    justify-content:left;
    align-items:center;
}
.panlIzq img{
    width:30px;
    height:30px;
    margin-left: 15px;
}
.panlIzq p{
    color:grey;
    font-family: "Titillium Web", sans-serif;
    margin:0px 0 0 20px;
    font-size: 0.8em;
}
.imageCentral img{
    width:100%;
    height:50px;
}
